.movie-detail {
  padding:20px 0;
  .movie-overview {
    margin-bottom: 20px;
    @media(min-width: 768px) {
      display: flex;
      >div {
        width:50%;
      }
      .movie-poster {
        padding-right: 20px;
      }
    }
  }
  .movie-metadata {
    h2.movie-title {
      margin-top:0;
      font-size: 21px;
      margin-bottom: 5px;
    }
    table {
      border-collapse: collapse;
      th, td {
        font-size: 14px;
        padding:5px 0;
        border-bottom: 1px solid #eee;
        vertical-align: top;
      }
      th {
        padding-right:15px;
        text-align: left;
      }
    }
  }
}