.app-alert {
  position:fixed;
  top:15px;
  left:15px;
  right:15px;
  transition: opacity .5s;
  visibility: hidden;
  opacity: 0;
  width: 0;
  &.active {
    visibility: visible;
    opacity: 1;
    width: auto; 
  }
  .app-alert-message {
    padding:10px 15px;
    width:100%;
    max-width:400px;
    margin:0 auto;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    &.success {
      color: rgb(0, 133, 0);
      background-color: rgb(183, 255, 183);
    }
    &.warning {
      color: rgb(133, 133, 0);
      background-color: rgb(255, 255, 183)
    }
    &.error {
      color: rgb(133, 0, 0);
      background-color: rgb(255, 183, 183);
    }
  }

}