.app-loader {
  background-color:rgba(#fff, .7);
  z-index: 9999;
  left: 0;
  right:  0;
  bottom: 0;
  top: 0;
  visibility: hidden;
  width:0;
  opacity: 0;
//  transition: opacity 1s;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color:#222;
  &.screen {
    position: fixed;
  }
  &.block {
    position: absolute;
  }
  &.active {
    visibility: visible;
    width:100%;
    opacity: 1;
  }
}